body
  font-family: "Open Sans", sans-serif

#primaryColor
	color: #0099ff
	h2
		color: #0099ff
	
#primaryColorBg
	background-color: #0099ff
	color: #ffffff

#secondaryColor
	background-color: #FF6600
	color : #ffffff

#secondaryColorText
	color: #FF6600
	h2 
		color: #FF6600
	h3
		color: #FF6600

#tertiaryColor
	background-color: #FFB380
	color: #ffffff
	h1 
		color: #ffffff
	p 
		color: #ffffff

#whiteColor
	color: #ffffff
	h1
		color: white
	h2
		color: white
	h3
		color: white


#footer
	height: 150px
	padding: 40px
	bottom 0

#maxView
	height: 100vh

#greySection
	background-color: #EEEEEE

#whiteSection
	background-color: #FFFFFF

.block 
	background linear-gradient(rgba(0, 153, 255, 0.9), rgba(0, 153, 255, 0.9)), url("../images/tosh.jpg") no-repeat center center fixed
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	height 85vh

.aboutBlock
	background linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 153, 255, 0.9) )	

#paddingColor
	background-color: #FF6600


@keyframes move_wave 
  0% 
    transform translateX(0) translateZ(0) scaleY(1)
  50% 
    transform translateX(-25%) translateZ(0) scaleY(0.55)
  100% 
    transform translateX(-50%) translateZ(0) scaleY(1)
 
.waveWrapper 
  overflow hidden
  position absolute
  left 0
  right 0
  bottom 0
  top 0
  margin auto
  z-index -1

.waveWrapperInner 
	position absolute
	width 100%
	overflow hidden
	height 100%
	bottom -1px
	background-image linear-gradient(to top, #ffffff 40%, #ffffff 60%)

.bgTop 
	z-index 15
	opacity 0.5

.bgMiddle 
	z-index 10
	opacity 0.75
  
.bgBottom 
	z-index 5

.wave 
	position fixed
	left 0
	width 200%
	height 100%
	background-repeat repeat no-repeat
	background-position 0 bottom
	transform-origin center bottom

.waveTop 
	background-size 50% 100px

.waveAnimation 
	.waveTop 
		animation move-wave 3s
		-webkit-animation move-wave 3s
		-webkit-animation-delay 1s
		animation-delay 1s
	.waveMiddle 
		animation move_wave 10s linear infinite
	.waveBottom 
		animation move_wave 15s linear infinite

.waveMiddle 
	background-size 50% 120px

.waveBottom 
	background-size 50% 100px
